@font-face {
  font-family: Starjout;
  src: url("/starjout/Starjout.ttf");
}

body {
  background-color: black;
  color: white;
  margin-left: 0;
  margin-right: 0;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

.list-group {
  width: 100%;
  padding: 0;
}

p.col-md-12 {
  text-align: center;
  margin-top: 20px;
  max-height: 20px;
}

.text-warning {
  font-family: Starjout;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100%;
}

.input-group-text {
  text-align: left;
}

.plot {
  margin: 0px 20% 0px 20%;
}

.plot-title {
  margin: 50px 20% 20px 20%;
  font-weight: 500;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.row {
  justify-content: center;
  margin-right: 0;
  margin-left: 0;
}

.main-plot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-btn {
  margin-top: 0;
  position: absolute;
  right: 0px;
  height: 50px;
}

.loading {
  height: 38px;
  width: auto;
  position: absolute;
  right: 0;
}

.p-choose-person,
.p-choose-planet {
  font-weight: 500;
}

@media (min-width: 992px) {
  .col-lg-5 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  input {
    max-height: 50px;
    max-width: 200px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .delete-btn {
    margin-top: 0;
    position: initial;
    height: auto;
  }

  .loading {
    height: 38px;
    width: auto;
    position: absolute;
    right: 50px;
  }
}
