@font-face {
  font-family: Starjout;
  src: url("/starjout/Starjout.ttf");
}

li {
  list-style: none;
}

.list-group {
  width: max-content;
}

.App {
  margin-right: 2%;
  margin-left: 2%;
}

body {
  background-color: black;
  color: white;
}

.text-warning {
  font-family: Starjout;
}
